[submodule "promo2-observable"]
	path = promo2-observable
	url = git@github.com:simplon-lyon/promo2-observable.git
[submodule "promo2-premier-angular"]
	path = promo2-premier-angular
	url = git@github.com:simplon-lyon/promo2-premier-angular.git
[submodule "promo2-angular-puzzle"]
	path = promo2-angular-puzzle
	url = git@github.com:simplon-lyon/promo2-angular-puzzle.git
[submodule "promo2-design-patterns"]
	path = promo2-design-patterns
	url = git@github.com:simplon-lyon/promo2-design-patterns.git
[submodule "promo2-test-php"]
	path = promo2-test-php
	url = git@github.com:simplon-lyon/promo2-test-php.git
